<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>添加优惠券</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../frame/static/css/style.css">
    <link rel="icon" href="../../frame/static/image/code.png">
    <link rel="stylesheet" href="../../frame/font-awesome-4.7.0/css/font-awesome.min.css">
    <style type="text/css">
    .layui-form-pane .layui-form-label {
        text-overflow: initial;
    }
    .red-div {
        color: red;
        line-height: 38px;
    }
    .layui-form-item{
        margin-bottom: 0;
    }
    </style>
</head>

<body class="body">
    <div id="vueDiv">
        <p class="layui-elem-quote">添加优惠券</p>
        <form class="layui-form couponInfo" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">优惠券名</label>
                <div class="layui-form-mid layui-word-aux">
                    {{couponInfo.title}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">优惠券描述</label>
                <div class="layui-form-mid layui-word-aux">
                    {{couponInfo.describes}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">优惠类型</label>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.couponType==0">满减</div>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.couponType==1">现金</div>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.couponType==2">折扣</div>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.couponType==3">商品</div>
            </div>
            <div class="showHide couponType">
                <div class="layui-form-item">
                    <label class="layui-form-label">满金额(元)</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.fullMoney}}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">减金额(元)</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.reduceMoney}}
                    </div>
                </div>
            </div>
            <div class="moneyHide couponType">
                <div class="layui-form-item">
                    <label class="layui-form-label">金额(元)</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.reduceMoney}}
                    </div>
                </div>
            </div>
            <div class="discount couponType">
                <div class="layui-form-item">
                    <label class="layui-form-label">折扣</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.discount}}
                    </div>
                </div>
            </div>
            <div class="productdiv couponType">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品编码</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.productid}}
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">配置数量</label>
                <div class="layui-form-mid layui-word-aux">
                    {{couponInfo.stock}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">有效类型</label>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.timeType==0">规定时间段</div>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.timeType==1">领取后生效</div>
            </div>
            <div class="timeType-div">
                <div class="layui-form-item">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.starttimeStr}}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.endtimeStr}}
                    </div>
                </div>
            </div>
            <div class="effective-div">
                <div class="layui-form-item">
                    <label class="layui-form-label">有效天数</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{couponInfo.days}}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">适用类型</label>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.applyType==0">线上</div>
                <div class="layui-form-mid layui-word-aux" v-if="couponInfo.applyType==1">扫码购</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item channel">
                    <label class="layui-form-label">跳转类型</label>
                    <div class="layui-form-mid layui-word-aux" v-if="couponInfo.jumpType==0">商品</div>
                    <div class="layui-form-mid layui-word-aux" v-if="couponInfo.jumpType==1">首页</div>
                    <div class="layui-form-mid layui-word-aux" v-if="couponInfo.jumpType==2">频道</div>
                </div>
            </div>   
            <div class="layui-form-item">
                <label class="layui-form-label">跳转地址</label>
                <div class="layui-form-mid layui-word-aux">
                    {{couponInfo.url}}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">&nbsp;</label>
                <div class="layui-input-block">
                    <a class="layui-btn layuiadmin-btn-list" href="../coupon/couponList.html">
                        <i class="layui-icon">&#xe65c;</i>返回
                    </a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="../../frame/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../frame/layui/layui.js"></script>
    <script type="text/javascript" src="../../frame/static/js/vue.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../frame/static/js/public.js"></script>
    <script type="text/javascript">
    var vm = new Vue({
        el: '.couponInfo',
        data: {
            couponInfo: ""
        },
        mounted: function() {
            this.getCouponInfo();
        },
        methods: {
            layuiInit: function() {
                layui.use(['jquery', 'form', 'laydate'], function() {
                    var form = layui.form;
                    var laydate = layui.laydate;
                    var $ = layui.jquery;
                });
            },
            getCouponInfo: function() {
                var that = this;
                if (GetRequest().id != undefined) {
                    var idobj = {
                        id: GetRequest().id
                    };
                    $.post(baseURL + "bak/coupon/findById", idobj, function(res) {
                        if (res.status == "1") {
                            var resdata = res.data;
                            that.couponInfo = resdata;
                            that.layuiInit()
                        }
                    }, "json")
                } 
            }
        }
    })
    </script>
</body>

</html>