<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <title>表格</title>
    <link rel="stylesheet" href="../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../frame/static/css/style.css">
    <link rel="stylesheet" href="../frame/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../frame/static/image/code.png">
    <style type="text/css">
    .search-result {
        padding-left: 20px;
        font-size: 16px;
    }

    .search-result span {
        color: #FF5722;
    }

    .btn-lists {
        padding-bottom: 10px;
    }
    .product-info{
        overflow: hidden;
        margin-bottom: 10px;
    }
    .product-info-1{
        float: left;
        margin-right: 20px;
    }
    .product-info-2{
        float: left;
    }
    .product-info-2 .title{
        color: #FF5722;
        padding-top: 4px;
        width: 300px;
        overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
    }
    .product-info-3{
        float: left;
        width:100px;
        text-align: right;
        line-height: 50px;
    }
    .th-class div{
        position: absolute;
        top: 0;
        right: 10px;
        padding: 9px 15px;
    }
    .product-td{
        width: 514px;box-sizing: border-box;
    }
    </style>
</head>

<body class="body">
    <div id="vueDiv" class="layui-form layui-form-pane">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <select class="search-type">
                        <option value="orderidSignerTelBuyuserTel">全部</option>
                        <option value="id">订单号</option>
                        <option value="signerTel">收货人手机</option>
                        <option value="buyuserTel">用户手机</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="searchVal" class="layui-input search-value">
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="dateBegin" placeholder="yyyy-MM-dd">
                       
                    </div>
                    <div class="layui-input-inline">
                       
                         <input type="text" class="layui-input" id="dateEnd" placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">订单渠道</label>
                    <div class="layui-input-inline orderType">
                        <select>
                            <option value="">全部</option>
                            <option value="0">扫码购</option>
                            <option value="1">线上购物</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" onclick="search()">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn">&#xe615</i>查询
                    </button>
                    <button class="layui-btn layuiadmin-btn-list" onclick="window.location.reload()">
                        <i class="fa fa-refresh"></i> 刷新
                    </button>
                    <button class="layui-btn layuiadmin-btn-list">
                        <i class="fa fa-table"></i> 导出
                    </button>
                </div>
            </div>
        </div>
        <div class="btn-lists">
            <button class="layui-btn layui-btn-danger">全部</button>
            <button class="layui-btn">待付款</button>
            <button class="layui-btn">待发货</button>
            <button class="layui-btn">已发货</button>
            <button class="layui-btn">已完成</button>
            <button class="layui-btn">已关闭</button>
            <button class="layui-btn">申请售后</button>
            <button class="layui-btn">退货中</button>
            <button class="layui-btn">已退货</button>
            <button class="layui-btn">已退款</button>
            <div class="layui-inline search-result">当前检索 总金额：<span>30569.44</span>元 订单数：<span>{{total}}</span></div>
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" lay-filter="checkall" id="checkall" name="checkall" lay-skin="primary" >
                    </th>
                    <th class="th-class">商品信息 <div>数量</div></th>
                    <th>邮费</th>
                    <th>应付金额</th>
                    <th>实付金额</th>
                    <th>订单状态</th>
                    <th>物流单号</th>
                    <th>用户手机</th>
                    <th>订单渠道</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="orderList" v-for="item in orderList" v-key="orderList">
                <tr >
                    <td>
                        <input type="checkbox" lay-filter="childCheck" name="" lay-skin="primary" >
                    </td>
                    <td class="product-td">
                        <div class="product-info" v-for="childItem in item.productSonOrder" v-key="childItem">
                            <img class="product-info-1" :src="childItem.img" width="50" height="50">
                            <div class="product-info-2">
                                <div class="title">{{childItem.title}}</div>
                                <div>规格：{{childItem.specification}}</div>
                            </div>
                            <div class="product-info-3">× {{childItem.buynum}}</div>
                        </div>
                    </td>
                    <td>{{item.expressPrice}}</td>
                    <td>{{item.productPrice}}</td>
                    <td>{{item.totalPrice}}</td>
                    <td>{{item.orderStatus}}</td>
                    <td>{{item.expressCode}}</td>
                    <td>{{item.buyuserTel}}</td>
                    <td>{{item.orderType==0?"线上":"扫码购"}}</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-small" lay-event="edit">
                            <i class="layui-icon">&#xe642;</i>编辑
                        </button>
                    </td>
                </tr>
                <tr >
                    <td>&nbsp;</td>
                    <td>订单编码：{{item.code}}</td>
                    <td>收货信息</td>
                    <td colspan="7">{{item.acceptName}} {{item.acceptTel}} {{item.province}} {{item.city}} {{item.area}} {{item.address}}</td>
                </tr>
                <tr >
                    <td>&nbsp;</td>
                    <td>下单时间：{{item.createtime}}</td>
                    <td>用户备注</td>
                    <td colspan="7">{{item.userRemark}}</td>
                </tr>
            </tbody>
        </table>
        <div id="pagelist"></div>
    </div>
    <script type="text/javascript" src="../frame/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../frame/layui/layui.js"></script>
    <script type="text/javascript" src="../frame/static/js/vue.min.js"></script>
    <script type="text/javascript">
     var orderList = "",
        layer = "",
        form = "",
        laypage = "",
        count = 0,
        pageNum = 1,
        pageSize = 10,
        pagecurr = 1,
        getListData = {
            "pageNum": pageNum,
            "pageSize": pageSize,
            "condition": {
                "id": "",
                "signerTel": "",
                "buyuserTel": "",
                "orderidSignerTelBuyuserTel":"",
                "createStarttime":"",
                "createEndtime":"",
                "orderType":""
            }
        };
    var vm = new Vue({
        el: "#vueDiv",
        data: {
            orderList: "",
            total:0
        },
        mounted: function() {
            this.getMakerList(getListData);
        },
        methods: {
            layuiInit: function() {
                layui.use(['form', 'layedit', 'laypage', 'jquery', 'laydate', 'layer'], function() {
                    laypage = layui.laypage;
                    form = layui.form;
                    layer = layui.layer;
                    var laydate = layui.laydate;
                    var $ = layui.jquery;
                    // 监听checkbox选中事件，全选
                    form.on('checkbox(checkall)', function(data) {
                        ///data.elem.checked单选框是否选中
                        $(".orderList input[type='checkbox']").each(function(index, el) {
                            el.checked = data.elem.checked;
                        });
                        form.render('checkbox');
                    });
                    //单个checkbox选中事件
                    form.on('checkbox(childCheck)', function(event) {
                        var checkNum = 0;
                        $(".orderList input[type='checkbox']").each(function(index, el) {
                            if (el.checked == false) {
                                checkNum++
                                $("#checkall").prop("checked", false);
                            }
                        });
                        if (checkNum == 0) {
                            $("#checkall").prop("checked", true);
                        }
                        form.render('checkbox');
                        /* Act on the event */
                    });
                    //时间范围
                    laydate.render({
                        elem: '#dateBegin'
                    });
                    laydate.render({
                        elem: '#dateEnd'
                    });
                    //分页
                    laypage.render({
                        elem: 'pagelist',
                        count: count,
                        limit: pageSize,
                        layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
                        jump: function(obj, first) {
                            if (!first) {
                                pagecurr = obj.curr
                                $.ajax({
                                    url: baseURL + "bak/productOrder/getProductOrder",
                                    type: 'POST',
                                    dataType: 'json',
                                    contentType: "application/json;charset=UTF-8",
                                    data: JSON.stringify({ "pageNum": obj.curr, "pageSize": pageSize }),
                                }).done(function(res) {
                                    if (res.status == "1") {
                                        orderList = res.data.list;
                                        vm.orderList = orderList;
                                        $(".orderList .childCheck").each(function(index, el) {
                                            $(el).prop("checked", false)
                                        });
                                        $("#checkall").prop("checked", false);
                                        setTimeout(function() {
                                            form.render();
                                        }, 0)
                                    }
                                }).fail(function() {
                                    console.log("error");
                                })
                            }
                        }
                    });
                    setTimeout(function() {
                        form.render();
                    }, 0)
                })
            },
            getMakerList: function(obj) {
                var that = this;
                $.ajax({
                    url: baseURL + "bak/productOrder/getProductOrder",
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(obj),
                }).done(function(res) {
                    if (res.status == "1") {
                        orderList = res.data.list;
                        that.orderList = orderList;
                        count = res.data.total;
                        that.total = res.data.total;
                        that.layuiInit();
                    }
                }).fail(function() {
                    console.log("error");
                })
            },
            watch: function() {
                this.layuiInit();
            }

        }
    })

    //查询商品
    function search() {
        var searchType = $(".search-type").val();
        var searchValue = $(".search-value").val();
        var orderType = $(".orderType").val();
        var createStarttime = $("#dateBegin").val();
        var createEndtime = $("#dateEnd").val();
        if(searchType=="id"){
            getListData.condition.id = searchValue;
        }else if(searchType=="signerTel"){
            getListData.condition.signerTel = searchValue;
        }else if(searchType=="buyuserTel"){
            getListData.condition.buyuserTel = searchValue;
        }else if(searchType=="orderidSignerTelBuyuserTel"){
            getListData.condition.orderidSignerTelBuyuserTel = searchValue;
        }
        getListData.condition.orderType = orderType;
        getListData.condition.createStarttime = createStarttime;
        getListData.condition.createEndtime = createEndtime;
        vm.getMakerList(getListData);
    }

    </script>
</body>

</html>