<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sckj.repository.mybatis.CouponUserDAO">

    <resultMap id="CouponUserDTOResultMap" type="com.sckj.model.dto.CouponUserDTO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="couponid" jdbcType="VARCHAR" property="couponid" />
        <result column="product_orderid" jdbcType="VARCHAR" property="productOrderid" />
        <result column="userid" jdbcType="VARCHAR" property="userid" />
        <result column="tel" jdbcType="VARCHAR" property="tel" />
        <result column="realstarttime" jdbcType="TIMESTAMP" property="realstarttime" />
        <result column="realendtime" jdbcType="TIMESTAMP" property="realendtime" />
        <result column="receivetime" jdbcType="TIMESTAMP" property="receivetime" />
        <result column="isuse" jdbcType="CHAR" property="isuse" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="Isremind" jdbcType="CHAR" property="isremind" />
        <result column="usertime" jdbcType="TIMESTAMP" property="usertime" />

        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="coupon_type" jdbcType="CHAR" property="couponType" />
        <result column="full_money" jdbcType="DECIMAL" property="fullMoney" />
        <result column="reduce_money" jdbcType="DECIMAL" property="reduceMoney" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="give" jdbcType="INTEGER" property="give" />
        <result column="time_type" jdbcType="CHAR" property="timeType" />
        <result column="days" jdbcType="INTEGER" property="days" />
        <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
        <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
        <result column="scores" jdbcType="DECIMAL" property="scores" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="discount" jdbcType="DECIMAL" property="discount" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="apply_type" jdbcType="CHAR" property="applyType" />
        <result column="productid" jdbcType="VARCHAR" property="productid" />
        <result column="productname" jdbcType="VARCHAR" property="productname" />
        <result column="describes" jdbcType="LONGVARCHAR" property="describes" />
        <result column="jump_type" jdbcType="CHAR" property="jumpType" />
    </resultMap>


    <sql id="findDtoSql">
        select * from (
        select * from  sckj_coupon_user temp
        ) t
    </sql>

    <select id="findDTOById" parameterType="String" resultMap="CouponUserDTOResultMap">
        <include refid="findDtoSql"></include>
        <where>
            and t.id = #{id}
        </where>
    </select>

    <select id="findCouponUserPage" parameterType="com.sckj.model.dto.CouponUserDTO" resultMap="CouponUserDTOResultMap">
        <include refid="findDtoSql" />
        <where>

        </where>
    </select>

    <select id="getCouponUserByUserId" parameterType="java.lang.String" resultMap="CouponUserDTOResultMap">
        SELECT cu.*,
        c.coupon_type as couponType,
        c.full_money as fullMoney,
        c.reduce_money as reduceMoney,
        c.time_type as timeType,
        c.days,
        c.starttime,
        c.endtime,
        c.describes,
        c.scores,
        c.status,
        c.discount,
        c.url,
        c.apply_type as applyType,
        c.jump_type as jumpType,
        c.productid,
        c.productname
         from sckj_coupon_user cu
        left JOIN sckj_coupon c on c.id = cu.couponid
        WHERE cu.userid = #{userid}
    </select>

    <select id="getCouponUserList" parameterType="java.util.Map" resultMap="CouponUserDTOResultMap">
        select * from sckj_coupon_user as temp
        <where>
            <if test="receiveStarttime !=null">
                <![CDATA[
                    and date_format(temp.receivetime,'%Y-%m-%d') >= str_to_date(#{receiveStarttime},'%Y-%m-%d')
                ]]>
            </if>
            <if test="receiveEndtime !=null">
                <![CDATA[
                    and date_format(temp.receivetime,'%Y-%m-%d') <= str_to_date(#{receiveEndtime},'%Y-%m-%d')
                ]]>
            </if>
            <if test="null != isuse and  '' neq isuse">
                and  UPPER(temp.isuse) LIKE CONCAT('%',UPPER (#{isuse}),'%')
            </if>
            <if test="null != phoneOrUserId and  '' neq phoneOrUserId">
                and (  UPPER(temp.userid) LIKE CONCAT('%',UPPER (#{phoneOrUserId}),'%')
                    or UPPER(temp.tel) LIKE CONCAT('%',UPPER (#{phoneOrUserId}),'%'))
            </if>
        </where>
        ORDER BY temp.receivetime DESC
    </select>

</mapper>