<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sckj.repository.mybatis.GjpAccesstokenDAO">

    <resultMap id="GjpAccesstokenResultMap" type="com.sckj.model.GjpAccesstoken">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="appkey" jdbcType="VARCHAR" property="appkey" />
        <result column="auth_token" jdbcType="VARCHAR" property="authToken" />
        <result column="expires_in" jdbcType="VARCHAR" property="expiresIn" />
        <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken" />
        <result column="re_expires_in" jdbcType="VARCHAR" property="reExpiresIn" />
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    </resultMap>

    <resultMap id="GjpAccesstokenDTOResultMap" extends="GjpAccesstokenResultMap" type="com.sckj.model.dto.GjpAccesstokenDTO"></resultMap>

    <sql id="findDtoSql">
        select * from (
        select * from  sckj_gjp_accesstoken temp
        ) t
    </sql>

    <select id="findDTOById" parameterType="String" resultMap="GjpAccesstokenDTOResultMap">
        <include refid="findDtoSql"></include>
        <where>
            and t.id = #{id}
        </where>
    </select>

    <select id="findById" parameterType="String" resultMap="GjpAccesstokenResultMap">
        <include refid="findDtoSql"></include>
        <where>
            and t.id = #{id}
        </where>
    </select>

    <select id="findGjpAccesstokenPage" parameterType="com.sckj.model.dto.GjpAccesstokenDTO" resultMap="GjpAccesstokenDTOResultMap">
        <include refid="findDtoSql" />
        <where>

        </where>
    </select>

    <select id="getGjpAccesstokenList" parameterType="java.util.Map" resultMap="GjpAccesstokenDTOResultMap">
        select * from sckj_gjp_accesstoken as temp
        <where>

        </where>
        ORDER BY temp.create_time DESC
    </select>

</mapper>